<p>
  <strong>Title:</strong>
  <%= @vehicle.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @vehicle.text %>
</p>
<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>